@use "./help/ver" as*;
@use "./help/mixin" as*;
@use "./help/function" as *;
.contenir{
    @media #{$minphone} {
        width: 750px;
    }
    @media #{$tap} {
        width: 970px;
    }
    @media #{$lap} {
        width: 1170px;
    }
    margin: auto;
    display: block;

}
*{
    @include prefixer(box-sizing,border-box,webkit moz o);
    padding: 0;
}
body{
    margin: 0;
}
.head_with_border{
    h2{
        background-color: $maincolor;
        color: #fff;
        text-align: center;
        margin: 40px auto;
        width: 400px;
        border-radius:15px ;
        padding: 10px 16px;
        z-index: 6;
        @media #{$maxsmall} {
            width: 300px;
        }
        &:before{
            content: '';
            width: 100%;
            
            height: 1.5px;
            background-color: $grcolor;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -2;
        }
    }
    position: relative;
}
