@use "./help/ver" as*;
.header{
    padding: 20px 0;
    overflow: hidden;
    border-bottom:1px solid $grcolor ;

    .logo{
        display: grid;
        float: $float;
        //margin: 0% 10% 0 0;
        @media #{$maxsmall} {
            float: none;
            margin: auto;
            text-align: center;
        }
        h1{
            margin-bottom:0 ;
            margin-top: 10px;
        }
        p{

        }

    }
    .nav{
        float: $float;
        width: 70%;
        background-color: $maincolor;
        border-radius: 16px;
        margin-left: 7%;
        @media #{$maxsmall} {
            float: none;
            margin: auto;
            text-align: center;
        }
        .navbar{
            display: grid;
            list-style: none;
            justify-content: space-around;
            @media #{$maxsmall} {
                display: block;
            }
            li{
                grid-row: 2;
                padding: 10px 6px;
                @media #{$maxsmall} {
                    display: block;
                    padding: 17px ;
                }
                a{
                    padding: 30px 6px;
                    @media #{$maxsmall} {
                        padding: 17px ;
                    }
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                        color: #000;
                    }
                }
            }
            
        }
    }
}