$minphone :"(min-width: 768px)";
$maxlarge :"(max-width: 991px)";
$maxsmall :"(max-width: 769px)";
$tap :"(min-width: 992px)";
$lap :"(min-width: 1200px)";
$phone : 767px;
$maincolor:#e2494c;
$grcolor:#9c9c9c;
$p:#666;
$float:left;
$float1:right;